* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
}

header, footer, section#hero {
  background-color: #1F2937;
}

header#page-header {
  height: 65px;
  padding: 0 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav#nav-bar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

a.nav-item {
  text-decoration: none;
  height: 100%;
  line-height: 65px;
  padding: 0 20px;
  text-align: center;
}

a.nav-item:link, a.nav-item:visited {
  font-size: 18px;
  color: #E5E7EB;
}

a.nav-item:hover {
  background-color: #E5E7EB;
  color: #1F2937;
  border-radius: 10px;
}

a.nav-item:active {
  line-height: 70px;
}

div#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

section {
  padding: 100px 250px;
}

section#hero {
  display: flex;
  justify-content: stretch;
}

div#introduction {
  flex: 1;
  width: 50%;
  
}

div#image-placeholder {
  flex: 1;
  width: 50%;
  text-align: center;
  
}

img#intro-img {
  width: 80%;
  
}

p#hero-subtext { 
  font-size: 18px;
  color: #E5E7EB;
  margin: 20px 0;
  line-height: 25px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  line-height: 55px;
}

button#sign-up-button {
background-color: #3882f6;
font-size: 20px;
font-weight: bold;
color: #F9FAF8;
padding: 10px 20px;
border-radius: 8px;
cursor: pointer;
border: none;
}

button#sign-up-button:hover {
  background-color: #F9FAF8;
  color: #3882f6;
}

button#sign-up-button:active {
  letter-spacing: 1.2px;
  line-height: 25px; 
}


h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937
}

section#quote-section {
  background-color: #E5E7EB;
}

p#quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}

section#call-section {
  background-color: #3882f6;
  }
