* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto, sans-serif;
}

header, footer, section#hero {
  background-color: #1F2937;
}

div#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

p#hero-subtext, li a { 
  font-size: 18px;
  color: #E5E7EB;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8
}

button#sign-up-button, section#call-section {
background-color: #3882f6;
}

h2 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937
}

section#quote-section {
  background-color: #E5E7EB;
}

p#quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
}
